machine:
  install:
    disk: ${install_disk}
    extraKernelArgs:
      - talos.logging.kernel=udp://127.0.0.1:6050/
  logging:
    destinations:
      - endpoint: "udp://127.0.0.1:6050/"
        format: "json_lines"
        extraTags:
          hostname: ${hostname}
  network:
    hostname: ${hostname}
  nodeLabels:
    topology.kubernetes.io/region: ${pve_cluster_name}
    topology.kubernetes.io/zone: ${pve_node_name}
  sysctls:
    vm.nr_hugepages: "1024"
  kernel:
    modules:
      - name: nvme_tcp
      - name: vfio_pci
  kubelet:
    extraArgs:
      rotate-server-certificates: true
      cloud-provider: external
