machine:
  install:
    disk: ${install_disk}
  network:
    hostname: ${hostname}
    extraHostEntries:
      - ip: 192.168.1.20
        aliases:
          - arthur
          - arthur.lab.schaermu.ch
  nodeLabels:
    topology.kubernetes.io/region: ${pve_cluster_name}
    topology.kubernetes.io/zone: ${pve_node_name}
  sysctls:
    vm.nr_hugepages: "1024"
  kernel:
    modules:
      - name: nvme_tcp
      - name: vfio_pci
  kubelet:
    extraArgs:
      rotate-server-certificates: true
      cloud-provider: external
