machine:
  network:
    interfaces:
    - deviceSelector:
        physical: true
      dhcp: false
      vip:
        ip: ${virtual_ip}

cluster:
  allowSchedulingOnControlPlanes: false
  network:
    cni:
      name: none
  proxy:
    disabled: true
  extraManifests: ${extra_manifests}
  inlineManifests: ${inline_manifests}
