machine:
  features:
    hostDNS:
      enabled: true
    kubernetesTalosAPIAccess:
      enabled: true
      allowedRoles:
        - os:reader
      allowedKubernetesNamespaces:
        - kube-system
  network:
    interfaces:
    - deviceSelector:
        physical: true
      dhcp: false
      vip:
        ip: ${virtual_ip}

cluster:
  allowSchedulingOnControlPlanes: true
  network:
    cni:
      name: none
  proxy:
    disabled: true
  extraManifests: ${extra_manifests}
  inlineManifests: ${inline_manifests}
  externalCloudProvider:
    enabled: true
    manifests:
      - https://raw.githubusercontent.com/sergelogvinov/proxmox-cloud-controller-manager/v0.12.2/docs/deploy/cloud-controller-manager.yml
      - https://raw.githubusercontent.com/sergelogvinov/proxmox-csi-plugin/v0.17.0/docs/deploy/proxmox-csi-plugin-release.yml
