machine:
  nodeLabels:
    schaermu.lab/has-storage: "true"
    node.longhorn.io/create-default-disk: "true"
  kubelet:
    extraMounts:
      - destination: /var/mnt/longhorn
        type: bind
        source: /var/mnt/longhorn
        options:
          - bind
          - rshared
          - rw
